portal_src/Eumis.Documents/Schemas/R-09991_EnumNomenclature.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-09991" 
	xmlns="http://ereg.egov.bg/segment/R-09991" 
	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:complexType name="EnumNomenclature">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">Enum номенклатура</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Value" type="xsd:string" minOccurs="0" />
			<xsd:element name="Description" type="xsd:string" minOccurs="0" />
			<xsd:element name="DescriptionEN" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
