portal_src/Eumis.Documents/Schemas/R-10030_PreliminaryContractActivity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://ereg.egov.bg/segment/R-10030" 
	xmlns="http://ereg.egov.bg/segment/R-10030" 
	
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified">

	<xsd:complexType name="PreliminaryContractActivity">
		<xsd:annotation>
			<xsd:documentation xml:lang="bg">План за изпълнение (за предварителен подбор)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0" />
			<xsd:element name="Name" type="xsd:string" minOccurs="0" />
			<xsd:element name="Result" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>